@import "variables";

:host {
  width: $card-width * 1.2;
  height: $card-width * 1.6;
  background: #F4F4F4;
  border: 3px dashed darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
