@import "variables";

:host {
  background: #F4F4F4;
  border: 3px dashed darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.optionsContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-height: 90vh;
  flex-wrap: wrap;
}
