<div class="componentContainer" (click)="onSelect.emit(cardData)">
    <div class="cardFront">
        <img *ngIf="cardData.type === 'creature'" src="/assets/card-front.png" />
        <img *ngIf="cardData.type === 'spell'" src="/assets/card-front-spell.png" />
        <img *ngIf="cardData.type === 'mana'" src="/assets/card-front-soul.png" />
    </div>
    <div class="type" *ngIf="showType()">{{cardData.type}}</div>
    <div class="attributes" *ngIf="showAttributes()">{{cardData.attributes}}</div>
    <div class="name" [ngClass]="{isSpell: cardData.type === 'spell', hasDescription: cardData.description, isMana: cardData.type === 'mana'}">{{cardData.name}}</div>
    <div class="costToBuy">{{cardData.costToBuy}}</div>
    <div class="costToPlay" *ngIf="cardData.type !== 'mana'">{{cardData.costToPlay ?? 0}}</div>
    <div class="mana" *ngIf="cardData.type === 'mana'">{{cardData.mana}}</div>
    <div class="effects">
        <div class="effect" *ngFor="let effect of getEffects()">
            <div class="underline">{{getProcText(effect.proc)}}</div>
            <div class="description2">{{effect.effect}}</div>
        </div>
    </div>
    <div class="description">
        <div [ngClass]="{underline: cardData.description2}">{{cardData.description}}</div>
        <div *ngIf="cardData.description2" class="description2">
            {{cardData.description2}}
        </div>
        <div class="flavour" *ngIf="!cardData.description2 && !cardData.description">
            {{cardData.flavour}}
        </div>
    </div>
    <img class="art" [ngStyle]="{'background-image': 'url(\'/assets/art/' + cardData.artSrc + '\')'}" [ngClass]="{'isMana': cardData.type === 'mana', 'isCreature': cardData.type === 'creature', 'isSpell': cardData.type === 'spell'}" />
    <div class="textOverlay" *ngIf="cardData.type === 'creature'"></div>

    <div class="attack" *ngIf="hasAttack()">{{cardData.attack ?? cardData.power}}</div>
    <div class="defense" *ngIf="hasDefense()">{{cardData.defense ?? cardData.move}}</div>

    <div class="creatureType">{{cardData.creatureType}}</div>

    <div class="selected" *ngIf="selected"></div>

    <div class="cardBack" *ngIf="hideCard">
        <button (click)="onShow.emit()">show</button>
        <button (click)="onActivate.emit()">Activate</button>
        <div class="notActive" *ngIf="!cardData.activated"></div>
    </div>
</div>
