@import 'variables';

:host {
  display: block;
  box-shadow: rgb(243, 243, 243) 3px 5px 20px;
  width: $card-width;
  height: $card-height;
  font-size: $card-width * 0.05;

}

.componentContainer {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  > * {
    pointer-events: none;
  };
}
.cardFront {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  img {
    width: 100%;
    height: 100%;
  }
  z-index: 2;
}

.textOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: $card-width * 0.6;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(3, 3, 25, 1) 10%, rgba(3, 3, 25, 1));
}

.art {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  z-index: 0;
  background-size: cover;
}

.type {
  position: absolute;
  z-index: 2;
  color: black;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1.5px;
  background: white;
  padding: 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.attributes {
  position: absolute;
  z-index: 2;
  color: white;
  height: $card-width * 0.12;
  width: $card-width * 0.5;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  white-space: nowrap;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: $card-width * 0.06;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  position: absolute;
  z-index: 2;
  color: white;
  left: 50%;
  top: $card-width * 0.86;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  &.isSpell {
    background: darkorange;
    color: white;
    border-radius: 9999px;
    padding: 2px 8px;
  }
  width: 100%;
  max-width: 95%;
  text-align: center;
}

.creatureType {
  position: absolute;
  z-index: 2;
  color: whitesmoke;
  top: $card-width * 0.74;
  left: $card-width * 0.63;
}

.costToBuy, .costToPlay, .mana {
  position: absolute;
  z-index: 2;
  top: $card-width * 0.034;
  left: $card-width * 0.045;
  width: $card-width * 0.15;
  height: $card-width * 0.15;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: $card-width * 0.1;
}

.costToPlay {
  margin-left: $card-width * 0.15;
}
.mana {
  right: 6px;
  bottom: 6px;
  background: purple;
}

.description {
  position: absolute;
  z-index: 2;
  left: 12px;
  right: 12px;
  height: $card-width * 0.4;
  bottom: $card-width * 0.04;
  color: #d3eeff;
  font-size: $card-width * 0.05;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.description2 {
  margin-top: 2px;
  font-size: $card-width * 0.04;
}
.underline {
  text-decoration: underline;
}

.attack, .defense {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: $card-width * 0.48;
  height: $card-width * 0.12;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: $card-width * 0.1;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  border-radius: 3px;
}

.defense {
  left: initial;
  right: 0px;
  display: none;
}

.selected {
  position: absolute;
  top: -10px;
  left: 25%;
  z-index: 10;

  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;

  border-top: 30px solid #f00;
}

.cardBack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-image: url("https://media.istockphoto.com/id/1160720443/vector/abstract-simple-geometric-vector-seamless-pattern-with-gold-line-texture-on-white-background.jpg?s=612x612&w=0&k=20&c=_kgBISj1Wio4LTRdBFN3IttmunACCl1-T5VKdurvb68=");
  button {
    pointer-events: initial !important;
  }
  .notActive {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    background: red;
  }
}
