@import 'variables';

:host {
  display: block;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgb(243, 243, 243) 3px 5px 20px;
  width: $card-width;
  height: $card-height;
  font-size: $card-width * 0.08;

}

.componentContainer {
  padding: 6px;
  position: relative;
  height: 100%;
  width: 100%;
  > * {
    pointer-events: none;
  }
}

.textOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: $card-width * 0.8;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(3, 3, 25, 1), rgba(3, 3, 25, 1));
}

.art {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.type {
  position: absolute;
  z-index: 2;
  color: black;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1.5px;
  background: white;
  padding: 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.attributes {
  position: absolute;
  z-index: 2;
  color: white;
  height: $card-width * 0.12;
  width: $card-width * 0.5;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  white-space: nowrap;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: $card-width * 0.06;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  position: absolute;
  z-index: 2;
  color: white;
  left: 50%;
  top: $card-width * 0.95;
  &.hasDescription {
    top: $card-width * 0.6;
  }
  transform: translate(-50%, 0);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1.5px;
  font-weight: bold;
  &.isSpell {
    background: darkorange;
    color: white;
    border-radius: 9999px;
    padding: 2px 8px;
  }
}

.costToBuy, .costToPlay, .mana {
  position: absolute;
  z-index: 2;
  width: $card-width * 0.15;
  height: $card-width * 0.15;
  border-radius: 100%;
  background: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: $card-width * 0.1;
}

.costToPlay {
  right: 6px;
  background: dodgerblue;
}
.mana {
  right: 6px;
  bottom: 6px;
  background: purple;
}

.description {
  position: absolute;
  z-index: 2;
  left: 12px;
  right: 12px;
  height: $card-width * 0.3;
  bottom: $card-width * 0.22;
  color: #d3eeff;
  font-size: $card-width * 0.07;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.description2 {
  margin-top: 6px;
  font-size: $card-width * 0.065;
}
.underline {
  text-decoration: underline;
}

.attack, .defense {
  position: absolute;
  z-index: 2;
  left: 0px;
  bottom: 0px;
  height: $card-width * 0.12;
  width: $card-width * 0.2;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: $card-width * 0.1;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  border-radius: 3px;
}

.defense {
  left: initial;
  right: 0px;
  background: dodgerblue;
}

.selected {
  position: absolute;
  width: 30px;
  height: 30px;
  background: whitesmoke;
  bottom: 0;
  left: 50%;
  z-index: 10;
}

.cardBack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-image: url("https://media.istockphoto.com/id/1160720443/vector/abstract-simple-geometric-vector-seamless-pattern-with-gold-line-texture-on-white-background.jpg?s=612x612&w=0&k=20&c=_kgBISj1Wio4LTRdBFN3IttmunACCl1-T5VKdurvb68=");
  button {
    pointer-events: initial !important;
  }
}
