<div class="componentContainer">
    <div class="allShops">
        <div class="shopContainer">
            <app-shop
                    *ngFor="let shopCard of permanentShopCards"
                    [cardData]="shopCard"
                    [permanent]="true"
                    (onBuy)="spawnPermanentCard($event)"
            >
            </app-shop>
        </div>
        <div class="shopContainer standard">
            <div class="shopRow">
                <app-shop
                        *ngFor="let shopCard of firstShopBatch"
                        [cardData]="shopCard"
                        (onBuy)="spawnStandardCard($event)"
                >
                </app-shop>
            </div>
            <div class="shopRow">
                <app-shop
                        *ngFor="let shopCard of secondShopBatch"
                        [cardData]="shopCard"
                        (onBuy)="spawnStandardCard($event)"
                >
                </app-shop>
            </div>
            <div class="shopRow">
                <app-shop
                        *ngFor="let shopCard of thirdShopBatch"
                        [cardData]="shopCard"
                        (onBuy)="spawnStandardCard($event)"
                >
                </app-shop>
            </div>
        </div>
        <div class="shopContainer">
        </div>
    </div>

    <div class="playerField">
        <app-hand [tpl]="handCardTpl"></app-hand>
    </div>
    <div class="manaStack">
        <app-card-hold-space #manaStack [tpl]="holdTpl" [dest]="getManaDest()"></app-card-hold-space>
        <button (click)="putCard('mana'+player)">Put as mana</button>
    </div>
    <app-hp-counter></app-hp-counter>

    <app-draw-pile
        #drawPile
        (requestNewPile)="discardPileToDraw()"
    ></app-draw-pile>
    <div class="playerButtons">
        <button (click)="playerChosen(1)" [disabled]="player === 1">P1</button>
        <button (click)="playerChosen(2)" [disabled]="player === 2">P2</button>
        <div>{{isOnline() ? 'Online' : 'Offline'}}</div>
    </div>
    <app-discard-pile #discardPile (onDiscardRequest)="discardCard()" (onHandRequest)="putCardInHand($event)"></app-discard-pile>
    <button #trash class="trash" (click)="trashCard()">Trash</button>

    <div class="battleAndStation">
        <div class="station">
            <div>
                <app-card-hold-space #station1 [tpl]="stationTpl" dest="station1"></app-card-hold-space>
                <button (click)="putCard('station1')">+</button>
            </div>
            <div>
                <app-card-hold-space #station2 [tpl]="stationTpl" dest="station2"></app-card-hold-space>
                <button (click)="putCard('station2')">+</button>
            </div>
            <div>
                <app-card-hold-space #station3 [tpl]="stationTpl" dest="station3"></app-card-hold-space>
                <button (click)="putCard('station3')">+</button>
            </div>
            <div>
                <app-card-hold-space #station4 [tpl]="stationTpl" dest="station4"></app-card-hold-space>
                <button (click)="putCard('station4')">+</button>
            </div>
        </div>
        <div class="battle">
            <div>
                <app-card-hold-space #battle1 [tpl]="stationTpl" dest="battle1"></app-card-hold-space>
                <button (click)="putCard('battle1')">+</button>
            </div>
            <div>
                <app-card-hold-space #battle2 [tpl]="stationTpl" dest="battle2"></app-card-hold-space>
                <button (click)="putCard('battle2')">+</button>
            </div>
            <div>
                <app-card-hold-space #battle3 [tpl]="stationTpl" dest="battle3"></app-card-hold-space>
                <button (click)="putCard('battle3')">+</button>
            </div>
            <div>
                <app-card-hold-space #battle4 [tpl]="stationTpl" dest="battle4"></app-card-hold-space>
                <button (click)="putCard('battle4')">+</button>
            </div>
        </div>
        <div class="battle">
            <div>
                <app-card-hold-space #battle5 [tpl]="stationTpl" dest="battle5"></app-card-hold-space>
                <button (click)="putCard('battle5')">+</button>
            </div>
            <div>
                <app-card-hold-space #battle6 [tpl]="stationTpl" dest="battle6"></app-card-hold-space>
                <button (click)="putCard('battle6')">+</button>
            </div>
            <div>
                <app-card-hold-space #battle7 [tpl]="stationTpl" dest="battle7"></app-card-hold-space>
                <button (click)="putCard('battle7')">+</button>
            </div>
            <div>
                <app-card-hold-space #battle8 [tpl]="stationTpl" dest="battle8"></app-card-hold-space>
                <button (click)="putCard('battle8')">+</button>
            </div>
        </div>
        <div class="station">
            <div>
                <app-card-hold-space #station5 [tpl]="stationTpl" dest="station5"></app-card-hold-space>
                <button (click)="putCard('station5')">+</button>
            </div>
            <div>
                <app-card-hold-space #station6 [tpl]="stationTpl" dest="station6"></app-card-hold-space>
                <button (click)="putCard('station6')">+</button>
            </div>
            <div>
                <app-card-hold-space #station7 [tpl]="stationTpl" dest="station7"></app-card-hold-space>
                <button (click)="putCard('station7')">+</button>
            </div>
            <div>
                <app-card-hold-space #station8 [tpl]="stationTpl" dest="station8"></app-card-hold-space>
                <button (click)="putCard('station8')">+</button>
            </div>
        </div>
        <div class="station">
            <div>
                <app-card-hold-space #station9 [tpl]="stationTpl" dest="station9"></app-card-hold-space>
                <button (click)="putCard('station9')">+</button>
            </div>
            <div>
                <app-card-hold-space #station10 [tpl]="stationTpl" dest="station10"></app-card-hold-space>
                <button (click)="putCard('station10')">+</button>
            </div>
            <div>
                <app-card-hold-space #station11 [tpl]="stationTpl" dest="station11"></app-card-hold-space>
                <button (click)="putCard('station11')">+</button>
            </div>
            <div>
                <app-card-hold-space #station12 [tpl]="stationTpl" dest="station12"></app-card-hold-space>
                <button (click)="putCard('station12')">+</button>
            </div>
        </div>
    </div>
</div>

<div class="opponentHand">
    Opponent hand: {{getOtherPlayerHand()}}
</div>
<div class="opponentMana">
    <div *ngFor="let mana of getOtherPlayerManaStack()">{{mana}}</div>
</div>

<ng-template #handCardTpl let-card="card" let-index="index">
    <app-card
            class="handCard"
            [style]="getOffset(card, index)"
            [cardData]="card"
            [selected]="selectedCard === card"
            (onSelect)="selectCard($event)"
    ></app-card>
</ng-template>

<ng-template #holdTpl let-card="card" let-index="index">
    <app-card
            class="handCard"
            [style]="getOffsetVert(card, index)"
            [cardData]="card"
            [selected]="selectedCard === card"
            (onSelect)="selectCard($event)"
    ></app-card>
</ng-template>

<ng-template #stationTpl let-card="card" let-index="index">
    <app-card
            class="handCard"
            [style]="getOffsetVert(card, index)"
            [cardData]="card"
            [selected]="selectedCard === card"
            (onSelect)="selectCard($event)"
            [hideCard]="card.isHidden"
            (onShow)="showCard(card)"
            (onActivate)="activateCard(card)"
    ></app-card>
</ng-template>
