@import '@angular/cdk/overlay-prebuilt.css';

html {
  background-image: url("https://img.freepik.com/premium-vector/abstract-seamless-pattern-background-with-artistic-style_7505-1600.jpg");
}
html, body {
  height: 100%;
  margin: 0;
  font-family: VarelaRound;
  font-size: 2vh;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'VarelaRound';
  src: url('/assets/VarelaRound-Regular.ttf'); /* IE9 Compat Modes */
  src: url('/assets/VarelaRound-Regular.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/VarelaRound-Regular.ttf')  format('truetype');
}

:root {
  --card-width: 160px;
}
