@import '@angular/cdk/overlay-prebuilt.css';

html {
  background-image: url("https://img.freepik.com/premium-vector/abstract-seamless-pattern-background-with-artistic-style_7505-1600.jpg");
}
html, body {
  height: 100%;
  margin: 0;
  font-family: Helvetica;
}
* {
  box-sizing: border-box;
}
